/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */




body {
  background-color: #580147;
  color: antiquewhite;
  overflow-x: hidden; 
}

/* header styling */
.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00335f; 
  color: #fff;
  padding: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 1000; 
}
#logo {
  max-width: 150px; 
  max-height: 60px; 
  margin-right: 20px
}


/* hamburger styling */
.hamburger-icon {
  user-select: none;
  display: block;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  padding-right: 10px;
}
.menu-links {
  display: none;
}

.menu-links.open {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 69px; 
  right: 25px;
  padding: 20px;
}
.menu-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
}
.menu-links a:hover {
  color: #f233e8; /* Adjust the color as needed */
}


.Main {
  overflow: scroll;
}

.grid-item-card {
  display: grid;
  background-color: #333333bc;
  padding: 15px; /* Adjust the padding to increase the size of #333 card */
  margin: 10px;
  border-radius: 10px;
  width: 300px;
}

/* myProfile styling */
.artist-profile-image {
  max-width: 80%;
  align-self: center;
  justify-self: center;
}

.user-artwork-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; 
  justify-content: center;
}

.user-artwork-grid-item {
  grid-template-rows:auto;
  grid-template-columns: 100%;
  justify-items: center;
}



/* search styling */
.search-results-container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto; 
  justify-content: center;
}


.auction-results-grid-item {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 
  "image title"
  "image artist-name"
  "image description"
  "image included";
}

.artwork-results-grid-item {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 
  "image title"
  "image artist-name"
  "image description"
}

.artist-results-grid-item {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 
  "image artist-name"
  "image location"
  "image description"
}

.search-results-image {
  grid-area: image;
  max-width: 80%;
  align-self: center;
  justify-self: center;
}

.search-results-title {
  grid-area: title;
}

.search-results-artist-name {
  grid-area: artist-name;
  z-index: 1;
}

.search-results-artist-name:hover {
  color:darkcyan
}

.search-results-description {
  grid-area: description;
  font-size: 12px;
}

.search-results-included {
  grid-area: included;
  font-size: 12px;
}
.search-results-artist-location {
  grid-area: location;
  font-size: 12px;
}

/* //DetailsStyling  */
/* //Auction */
.AuctionDetails {
   margin: 20px;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.artworks-container {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}


.artwork-card {
 border: 1px solid #ddd;
 padding: 10px;
 margin: 10px;
 text-align: center;
}


.artwork-card img {
 max-width: 100%;
 height: auto;
}


.artwork-title {
 font-weight: bold;
}





/* footer styling */
.Footer {
  background-color: rgb(169, 47, 169);
  padding: 20px;
  bottom: 0;
  text-align: center;
  height: 3em;
}

.Main{
  margin-top: 40px;
}

